body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figcaption,figure
{margin:0;padding:0}



body{
    width: 100%;
   /* 设置页面默认字号与字体 */
   font: 0.14rem "微软雅黑",Arial; 
   background-color: #fafafa;  
}
h1,h2,h3,h4,h5,h6,b,strong{
   /* 清除标签默认加粗 */
   font-weight: normal;
   font-size: 100%;
}
i,em{
   /* 清除标签默认倾斜 */
   font-style: normal;
}
a{
   /* 清除标签默认下划线与文字颜色 */
   color: #555555;
   text-decoration: none;
}
li{
   /* 清除标签默认的项目符号 */
   list-style: none;
}
.clearfix{
   zoom: 1;
}
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}